  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">vishnurathan834@gmail.com</a>
        <i class="bi bi-phone-fill phone-icon"></i> 0720430769
      </div>
      <div class="cta d-none d-md-block">
        <a href="#" class="scrollto">Get Started</a>
      </div>
    </div>
  </div>