<div class="row">
  <div class="col-xs-12">
    <p>Add new server or blueprints</p>
    <label for="">SERVER NAME</label>
    <input type="text" class="form-control" [(ngModel)]="newServerName" />

    <label for="">SERVER CONTENT</label>
    <input type="text" class="form-control" [(ngModel)]="newServerContent" />
    <br />
    <button class="btn btn-success" (click)="onAddServer()">Add Server</button>
    <button class="btn btn-primary" (click)="onAddBlueprint()">
      Add Server Blueprint
    </button>
  </div>
</div>
