<!-- <div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <button class="btn btn-success" (click)="onChangeFirst()">
          Change First Element
        </button>
        <button class="btn btn-danger" (click)="onDestroyFirst()">
          Destroy
        </button>
      </div>
      <br />
      <br />
      Loop through serverElements and display content in Bootstrap cards
      <app-server-element
        class="card"
        [srvElement]="serverElement"
        [name]="serverElement.name"
        *ngFor="let serverElement of serverElements">
        <p> #CONTENT PARAGRAPH</p>
        <div class="card-body">
          <h5 class="card-title">{{ serverElement.name }}</h5>
          <p class="card-text">
            <strong *ngIf="serverElement.type === 'server'" style="color: red">
              {{ serverElement.content }}
            </strong>
            <em *ngIf="serverElement.type === 'blueprint'" style="color: blue">
              {{ serverElement.content }}
            </em>
          </p>
        </div>
      </app-server-element>
    </div>
  </div>
</div> -->
<!-- navbar-->


<app-topbar></app-topbar>
<app-header></app-header>
<app-hero></app-hero>
<main id="main">
  <app-icon-box></app-icon-box>
  <app-about-us></app-about-us>
  <app-client></app-client>
  <app-why-us></app-why-us>
  <app-service></app-service>
  <app-home></app-home>
  <app-footer></app-footer>
</main>
